@font-face {
  font-family: "UniNeueRegular";
  src: local("UniNeueRegular"),
    url("/assets/fonts/UniNeueRegular.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueBold";
  src: local("UniNeueBold"),
    url("/assets/fonts/UniNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "UniNeueHeavy";
  src: local("UniNeueHeavy"),
    url("/assets/fonts/UniNeueHeavy.ttf") format("truetype");
}

/**/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/**/

#map-popup {
  position: relative;
  background: #FFF;
  padding: 1.042vw;
  width:auto;
  max-width: 43.75vw;
  margin: 1.042vw auto;
}

/**/
.flare-button {
  /* Важные стили для анимации */
  position: relative;
  overflow: hidden;
}

.flare-button:after {
  content: "";
  display: block;
  width: 2.083vw;
  height: 15.625vw;
  margin-left: 2.604vw;
  background: #fff;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
  );
  left: -2.083vw;
  top: -5.208vw;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 2.5s ease-in-out 0.05s infinite;
}
 
@keyframes movingFlare {
  0% {
    left: -1.563vw;
    margin-left: 0vw;
  }
  30% {
    left: 110%;
    margin-left: 4.167vw;
  }
  100% {
    left: 110%;
    margin-left: 4.167vw;
  }
}